body{
    
    background-color:antiquewhite;
    
}

.allCards{
    text-align: center;
    margin-bottom: 20px;
}

div{
    margin-bottom: 20px;
    text-align: center;
    font-style: italic;
    font-size: 20px;
}